<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Practice Suite">

    <listeners>
        <listener class-name="com.web.listeners.ExtentListeners"/>
    </listeners>

    <test name="Login Test">
        <classes>
            <class name="com.web.tests.LoginTest"/>
        </classes>
    </test> <!-- Test -->

</suite> <!-- Suite -->